.section {
	padding: 80px 40px;
	background-color: #fff;
	box-shadow: 0 30px 80px 0 rgba(201, 218, 218, 0.25);
	@include min-screen($breakpoint-sm) {
		padding: 80px 100px;
	}
	&:not(:last-child) {
		margin-bottom: 80px;
	}
	&:nth-child(2n) {
		@include min-screen($breakpoint-sm) {
			margin-left: -65px;
		}
	}
	&:nth-child(2n + 1) {
		text-align: right;
		@include min-screen($breakpoint-sm) {
			margin-right: -65px;
		}
	}

	h2 {
		margin-bottom: 20px;
		font-family: 'Roboto Mono', monospace;
		font-size: 24px;
		color: #1f2c73;
	}
}
