.wrapper {
	position: relative;
	._smooth-scrolling & {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&__content {
		@include min-screen($breakpoint-sm) {
			padding: 80px 130px;
		}
	}
}

.container {
	max-width: 700px;
	margin: auto;
	box-sizing: content-box;
}
